################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates.
# Fiserv is a trademark of Fiserv, Inc.,
# registered or used in the United States and foreign countries,
# and may or may not be registered in your country.
# All trademarks, service marks,
# and trade names referenced in this
# material are the property of their
# respective owners. This work, including its contents
# and programming, is confidential and its use
# is strictly limited. This work is furnished only
# for use by duly authorized licensees of Fiserv, Inc.
# or its affiliates, and their designated agents
# or employees responsible for installation or
# operation of the products. Any other use,
# duplication, or dissemination without the
# prior written consent of Fiserv, Inc.
# or its affiliates is strictly prohibited.
# Except as specified by the agreement under
# which the materials are furnished, Fiserv, Inc.
# and its affiliates do not accept any liabilities
# with respect to the information contained herein
# and are not responsible for any direct, indirect,
# special, consequential or exemplary damages
# resulting from the use of this information.
# No warranties, either express or implied,
# are granted or extended by this work or
# the delivery of this work
################################################################################
openapi: 3.0.1
info:
  title: Silvercore™ Account Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "2.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /accounts/v1/statementFlag:
    put:
      tags:
        - Monthly Summary
      summary: >-
        Esta API permite actualizar la información relacionada al servicio de
        resumen electrónico.
      operationId: updateSubscriptionMonthlySummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlySummaryModifyRequest'
        required: true
      responses:
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Update Subcription
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
    post:
      tags:
        - Monthly Summary
      summary: Esta API permite subscribirse al servicio de resumen electrónico.
      operationId: createSubscriptionMonthlySummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlySummarySubscribeRequest'
        required: true
      responses:
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Subscription
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
    delete:
      tags:
        - Monthly Summary
      summary: Esta API permite desubscribirse al servicio de resumen electrónico.
      operationId: deleteSubscriptionMonthlySummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlySummaryUnsubscribeRequest'
        required: true
      responses:
        '204':
          description: No Content
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Unsubscribe
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
  /accounts/tripLog:
    put:
      tags:
        - TripLog
      summary: >-
        Posibilita generar la carga de un nuevo viaje para uno o varios
        integrantes de la cuenta. Además, ejecuta Bajas o Modificaciones de uno
        o varios avisos de viaje previamente cargado. El emisor armara el PUT
        con los datos que obtiene originalmente de la Consulta de Viajes
        ofreciendo al cliente la gestión sobre alguno de ellos.
      operationId: putTripLog
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutTripLogResponse'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Trip Log ABM
      x-group-name: Account
      x-child-product-name: Accounts
    post:
      tags:
        - TripLog
      summary: >-
        Permite listar los viajes previamente cargados, históricos, vigentes y
        futuros.
      operationId: getTripLog
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripLogRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripLogResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Trip Log Status
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/v2/annualSummary:
    post:
      tags:
        - Annual Summary
      summary: >-
        Permite obtener de forma detallada y consolidada, los datos sobre
        intereses, comisiones y gastos que se han aplicado durante un año.
      operationId: dataAnnualSummary
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataAnnualRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAnnualResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Annual Summary
      x-group-name: Annual Summary
      x-child-product-name: Accounts
  /accounts/v1/summary:
    post:
      tags:
        - Monthly Summary
      summary: >-
        Esta API permite consultar el estado de los últimos 12 resumenes
        mensuales.
      operationId: getListMonthlySummaries
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListMonthlySummariesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMonthlySummariesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Latest Monthly Summary
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
  /accounts/v1/summary/data:
    post:
      tags:
        - Monthly Summary
      summary: Esta API permite consultar la informacón de un resumen mensual.
      operationId: getMonthlySummaryData
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlySummaryDataRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlySummaryDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Data
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
  /accounts/v1/statementFlag/status:
    post:
      tags:
        - Monthly Summary
      summary: >-
        Esta API permite consultar el e/monthlySummary/subscription/stado de la
        subscripción al servicio de resumen electrónico.
      operationId: getStatusSubscriptionMonthlySummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlySummaryStatusRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlySummaryStatusResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Subscription Status
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
  /accounts/v1/documentSummary:
    post:
      tags:
        - Monthly Summary
      summary: >-
        Esta API permite la posibilidad de consultar el resumen mensual en
        formato PDF codificado en base64.
      operationId: downloadMonthlySummary
      parameters:
        - name: X-ClientID
          in: header
          description: Número que representa la entidad cliente del servicio en Fiserv.
          required: true
          schema:
            pattern: '[0-9]{1,3}'
            type: string
            description: Número que representa la entidad cliente del servicio en Fiserv.
        - name: username
          in: header
          description: Identificador que representa al usuario.
          required: true
          schema:
            type: string
            description: Identificador que representa al usuario.
        - name: security-context
          in: header
          required: false
          schema:
            type: string
        - name: requestId
          in: header
          description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
          required: false
          schema:
            type: string
            description: ' Identificador único global de la solicitud enviada con formato de dígitos hexadecimales con grupos separados por guiones. Ejemplo: b3d27f9b-d21d-327c-164e-7fb6776f87b0'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlySummaryPDFRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlySummaryPDFResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Download Summary
      x-group-name: Monthly Summary
      x-child-product-name: Accounts
  /accounts/v1/documentAnnualSummary:
    post:
      tags:
        - Download Annual Summary
      summary: Esta API permite descargar el Resumen anual en formato PDF.
      operationId: downloadAnnualSummary
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentAnnualRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentAnnualResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Download Annual Summary
      x-group-name: Annual Summary
      x-child-product-name: Accounts
  /accounts/tripLog/delete:
    post:
      tags:
        - TripLog
      summary: >-
        Permite la Baja o Borrado de todos los viajes previamente cargados. El
        emisor armara el DEL  ofreciendo al cliente la eliminación del histórico
        de  viajes previamente cargados.
      operationId: deleteTripLog
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TripLogRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Trip Log Baja
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/limitIncrease:
    post:
      tags:
        - limitIncrease
      summary: "Proporciona al cliente/tarjetahabiente la posibilidad de solicitar y procesar aumentos de limite transitorios en línea.\r\nEl limite podría tener un periodo determinado por el emisor donde vencido el plazo volverá a los limites determinados previamente.\r\n"
      operationId: setIncrementoLimiteTransitorio
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncrementoLimiteTransitorioRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitIncreaseResponse'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
      x-proxy-name: Limit Increase
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cards:
    post:
      tags:
        - Cards
      summary: >-
        La consulta lista todas las tarjetas en condiciones de operar, de manera
        de seleccionar sobre cual  de ellas se  solicitará la información para
        conformar la imagen de la tarjeta para que el cliente final pueda
        operar. Esta orientada a prevalidación de tarjeta vigentes ante posibles
        cambios en la numeración por reimpresiones/renovaciones y el posible
        solapamiento. La respuesta contiene el  PAN enmascarado.
      operationId: getConsultaTarjetas
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Cards
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/cardholders:
    post:
      tags:
        - Card Holders
      summary: >-
        La consulta permite listar todos los componentes de una cuenta (Titular
        + Adicionales) de manera de seleccionar sobre cuál de ellos se
        solicitará la acción de ACTIVAR / BLOQUEAR / DENUNCIAR / REIMPRIMIR.
        Puede utilizarse como complemento de prevalidación de tarjeta ante
        posibles cambios en la numeración por reimpresiones/renovaciones y el
        posible solapamiento. La respuesta contiene el PAN enmascarado junto con
        más datos de los clientes listados.
      operationId: getConsultaMiembros
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardHoldersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHoldersResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Card Holders
      x-group-name: Account
      x-child-product-name: Accounts
  /accounts/availability:
    post:
      tags:
        - Availability
      summary: >-
        Posibilita consultar la disponibilidad del servicio previo al uso de la
        API que realizará el input para generación de la nueva Cuenta/Tarjeta.
        Se recomienda la ejecución previa al consumo de la API
        /cards/instantIssuance
      operationId: getAvailability
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: >-
            Valida la firma HMAC enviada por el cliente mediante un algoritmo
            incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: >-
              Valida la firma HMAC enviada por el cliente mediante un algoritmo
              incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Availability
      x-group-name: Account
      x-child-product-name: Accounts
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    AccountRequestOnlyTitular:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: >-
            Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se
            encripta debe cumplir con Long 9 dígitos que se completan con ceros
            a la izquierda. EJ: 001234567 / 00#######
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: >-
            Identifica Titulares y Adicionales de la misma cuenta. Valor posible
            en esta API: 0. No se debe enviar valores de 1 a 9
          format: int32
          example: 0
    MonthlySummaryModifyRequest:
      type: object
      properties:
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: >-
            Este campo de entrada permite ingresar el número de tarjeta (PAN)
            encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequestOnlyTitular'
        email:
          type: string
          description: El email donde se enviará el resumen mensual
          example: fiserv@example.com
        encryptionPassword:
          type: string
          description: >-
            Contraseña encriptada provista por el usuario que luego se asigna
            como contraseña para el resumen en formato PDF que es enviado al
            email declarado
        foreignUse:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Indica si la actualización es para una
            cuenta local o extranjera cuando no se proporciona
            ORG.</br>Valores:</br></br>Espacio = Local;</br>0 = Local
            (predeterminado);</br>1 = Extranjero;</br>2 = Ambos.
          example: '0'
        statementFlag:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Bandera de Estado de cuenta de la
            Cuenta.</br>Valores:</br></br>Espacio = Declaración normal
            (predeterminado)</br>0 = Código de retención de declaración definido
            por el usuario 10</br>1–9 = Código de retención de declaración
            definido por el usuario 1 a 9</br>I = Declaración provisional</br>H
            = Mantener declaración</br>R = Declaración devuelta</br>S =
            Declaración de cierre de sesión</br>O = Estado de cuenta en
            línea/solo archivado</br>U = Suprimir declaración; no generar</br>Z
            = Valor definido por el usuario que suprime la declaración
            generación.
          example: Z
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    CountryRequest:
      required:
        - countryCode
        - dateFrom
        - dateTo
      type: object
      properties:
        dateFrom:
          maxLength: 10
          minLength: 10
          type: string
          description: >-
            Este campo de entrada, proporciona la información correspondiente a
            la fecha de inicio del Aviso de Viaje
          example: '2023-10-20'
        dateTo:
          maxLength: 10
          minLength: 10
          type: string
          description: >-
            Este campo de entrada, proporciona la información correspondiente a
            la fecha de fin del Aviso de Viaje
          example: '2023-11-02'
        countryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: >-
            Este campo de entrada, proporciona el dato del país destino del
            Aviso de Viaje
          example: MEX
      description: Este campo de entrada proporciona los datos de los registros de viajes
    PutTripLogResponse:
      required:
        - countriesList
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: >-
            Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se
            encripta debe cumplir con Long 9 dígitos que se completan con ceros
            a la izquierda. EJ: 001234567 / 00#######
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: >-
            Identifica Titulares y Adicionales de la misma cuenta. Valores
            posibles: 1 a 9. Titular: 0 Adicional: 1 a 9
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: >-
            Este campo de entrada permite ingresar el número de tarjeta (PAN)
            encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        countriesList:
          maxItems: 5
          minItems: 5
          type: array
          description: >-
            Este campo de entrada proporciona los datos de los registros de
            viajes
          items:
            $ref: '#/components/schemas/CountryRequest'
      description: Estructura de campos que responde a la API TripLog
    Account:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: >-
            Este campo de salida, proporciona el para identificar unívocamente
            Titulares y Adicionales de la misma. Conocido también como
            "AUTORIZADO"
          format: int32
          example: 5
        countriesList:
          type: array
          description: >-
            Este campo de salida, proporciona los datos de los registros de
            viajes
          items:
            $ref: '#/components/schemas/Country'
    Country:
      type: object
      properties:
        dateFrom:
          maxLength: 10
          minLength: 10
          type: string
          description: >-
            Este campo de salida, proporciona la información correspondiente a
            la fecha de inicio del Aviso de Viaje
          example: '2023-09-03'
        dateTo:
          maxLength: 10
          minLength: 10
          type: string
          description: >-
            Este campo de salida, proporciona la información correspondiente a
            la fecha de fin del Aviso de Viaje
          example: '2023-09-05'
        countryCode:
          maxLength: 3
          minLength: 3
          type: string
          description: >-
            Este campo de salida, proporciona el dato del país destino del Aviso
            de Viaje
          example: CUB
      description: Este campo de salida, proporciona los datos de los registros de viajes
    DataAnnualRequest:
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: >-
            Este campo de entrada permite ingresar el número de tarjeta (PAN)
            encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequestOnlyTitular'
        dateRange:
          $ref: '#/components/schemas/DateRange'
    DateRange:
      required:
        - from
        - to
      type: object
      properties:
        from:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha desde. En formato ISO 8601.
          example: 01-01-2021
        to:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha hasta. En formato ISO 8601.
          example: 31-12-2021
      description: Rango. Criterio de búsqueda.
    Amount:
      type: object
      properties:
        value:
          maxLength: 17
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Monto original de la transacción en
            dolares.
          example: '125'
        formattedValue:
          maxLength: 18
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Monto original de la transacción en
            dolares.
          example: '125.0'
      description: Exclusivo VisionPLUS.
    Benefit:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: string
          description: "Agrupa e identifica el total de beneficios obtenidos por el Titular y Tarjetas Adicionales de una cuenta durante el periodo seleccionado.\nValores\n•\t0: Tarjeta Titular;\n•\t1 a 9: Tarjetas Adicionales.\n"
          example: '1'
        categories:
          type: array
          description: Lista las categorías de beneficios.
          items:
            $ref: '#/components/schemas/BenefitList'
        merchants:
          type: array
          description: Nombre del comercio.
          items:
            $ref: '#/components/schemas/MerchantsList'
      description: >-
        Lista los diferentes beneficios a los cuales el cliente tuvo acceso
        acorde a sus consumos.
    BenefitList:
      type: object
      properties:
        name:
          maxLength: 60
          minLength: 1
          type: string
          description: Nombre bajo la cual se acumulan los beneficios.
          example: Restaurantes
        totals:
          type: array
          description: Agrupa beneficios en Mes/Monto. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Total'
      description: Lista las categorías de beneficios.
    CardConsumption:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: string
          description: "Agrupa e identifica el total de consumos realizados por el Titular y Tarjetas Adicionales de una cuenta durante el periodo seleccionado.\nValores\n•\t0: Tarjeta Titular;\n•\t1 a 9: Tarjetas Adicionales.\n"
          example: '1'
        totals:
          type: array
          description: Agrupa consumos en Mes/Monto. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Total'
      description: >-
        Contiene el total de consumos realizados por tarjeta (titular y
        adicionales). Ocurre hasta 10 veces.
    CategoryConsumption:
      type: object
      properties:
        additional:
          maxLength: 1
          minLength: 1
          type: string
          description: "Agrupa e identifica el total de consumos realizados por categoría por el Titular y Tarjetas Adicionales de una cuenta durante el periodo seleccionado.\nValores\n•\t0: Tarjeta Titular;\n•\t1 a 9: Tarjetas Adicionales.\n"
          example: '1'
        categories:
          type: array
          description: Lista las categorías de consumos.
          items:
            $ref: '#/components/schemas/CategoryList'
        merchants:
          type: array
          description: >-
            Lista de comercios con mayor consumo durante el periodo
            seleccionado. Ocurre hasta 5 veces.
          items:
            $ref: '#/components/schemas/MerchantsList'
      description: >-
        Contiene el total de consumos realizados por categoría (titular y
        adicionales). Ocurre hasta 10 veces.
    CategoryList:
      type: object
      properties:
        name:
          maxLength: 60
          minLength: 1
          type: string
          description: Nombre de la categoría bajo la cual se acumulan los consumos.
          example: Servicios
        totals:
          type: array
          description: Agrupa consumos en Mes/Monto. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Total'
      description: Lista las categorías de consumos.
    DataAnnualResponse:
      type: object
      properties:
        cardConsumptions:
          type: array
          description: >-
            Contiene el total de consumos realizados por tarjeta (titular y
            adicionales). Ocurre hasta 10 veces.
          items:
            $ref: '#/components/schemas/CardConsumption'
        categoryConsumptions:
          type: array
          description: >-
            Contiene el total de consumos realizados por categoría (titular y
            adicionales). Ocurre hasta 10 veces.
          items:
            $ref: '#/components/schemas/CategoryConsumption'
        benefits:
          type: array
          description: >-
            Lista los diferentes beneficios a los cuales el cliente tuvo acceso
            acorde a sus consumos.
          items:
            $ref: '#/components/schemas/Benefit'
        retentions:
          type: array
          description: >-
            Lista las diferentes retenciones aplicadas a la Cuenta en el periodo
            seleccionado. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Retention'
        taxes:
          type: array
          description: >-
            Lista los diferentes impuestos aplicados a la Cuenta en el periodo
            seleccionado. Ocurre hasta 12 veces.
          items:
            $ref: '#/components/schemas/Tax'
    MerchantsList:
      type: object
      properties:
        name:
          maxLength: 120
          minLength: 1
          type: string
          description: Nombre del comercio.
          example: WWW.IBERIA.COM.AR
        totals:
          $ref: '#/components/schemas/Amount'
      description: Nombre del comercio.
    Retention:
      type: object
      properties:
        date:
          maxLength: 7
          minLength: 7
          pattern: MM-YYYY
          type: string
          description: Fecha del acumulado de las retenciones.
          example: 01-2024
        calculationBase:
          maxLength: 16
          minLength: 1
          type: string
          description: >-
            Refleja la base imponible igual al total de dólares de la cuenta
            expresado en moneda local al tipo de cambio del cierre de cuenta
            corriente correspondiente al mes. Entre 0 y 9999999999999.99.
          example: '433470.68'
        resolutionNumber:
          maxLength: 15
          minLength: 1
          type: string
          description: Número de resolución de retención. Entre 0 y 999999999999999.
          example: '16070389973'
        amount:
          $ref: '#/components/schemas/Amount'
      description: >-
        Lista las diferentes retenciones aplicadas a la Cuenta en el periodo
        seleccionado. Ocurre hasta 12 veces.
    Tax:
      type: object
      properties:
        name:
          maxLength: 60
          minLength: 1
          type: string
          description: Nombre del impuesto.
          example: Impuesto País
        amount:
          $ref: '#/components/schemas/Amount'
      description: >-
        Lista los diferentes impuestos aplicados a la Cuenta en el periodo
        seleccionado. Ocurre hasta 12 veces.
    Total:
      type: object
      properties:
        code:
          maxLength: 13
          type: string
          description: >-
            Código que identifica a la clave del registro general, a saber:
            </br></br>Valores: </br></br>00050 - 00001 = Pagos, </br>00050 -
            00010 = Transferencias, </br>00050 - 00020 = Ajustes Débito con
            Afectación Mes Anterior, </br>00050 - 00030 = Ajustes Crédito con
            Afectación Mes Anterior, </br>00050 - 00040 = Saldo Pendiente,
            </br>00050 - 00050 = Consumos del Mes, </br>00050 - 00060 = Total de
            Cargos, </br>00050 - 00070 = Subtotal.
          example: 00050 - 00010
        codeDescription:
          maxLength: 40
          type: string
          description: >-
            Código que identifica a la clave del registro general, a saber:
            </br></br>Valores: </br></br>00050 - 00001 = Pagos, </br>00050 -
            00010 = Transferencias, </br>00050 - 00020 = Ajustes Débito con
            Afectación Mes Anterior, </br>00050 - 00030 = Ajustes Crédito con
            Afectación Mes Anterior, </br>00050 - 00040 = Saldo Pendiente,
            </br>00050 - 00050 = Consumos del Mes, </br>00050 - 00060 = Total de
            Cargos, </br>00050 - 00070 = Subtotal.
          example: Pagos
        adjustmentPaymentDate:
          maxLength: 10
          type: string
          description: Fecha de pago de ajuste. Formato ISO 8601.
          example: '2024-05-31'
        description:
          maxLength: 33
          type: string
          description: Descripción del movimiento.
          example: SU PAGO
        localCurrencyAmount:
          maxLength: 16
          type: string
          description: >-
            Importe total en pesos. Formato -999999999999,99. Se informan
            blancos a izquierda.
          example: '-999999999999,99'
        foreingCurrencyAmount:
          maxLength: 10
          type: string
          description: >-
            Importe total en dólares. Formato -999999,99. Se informan blancos a
            izquierda.
          example: '-999999,99'
        allocated:
          $ref: '#/components/schemas/Allocated'
      description: Datos consolidados del resumen.
    ListMonthlySummariesRequest:
      type: object
      properties:
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: >-
            Este campo de entrada permite ingresar el número de tarjeta (PAN)
            encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequestOnlyTitular'
    DataMonthlySummary:
      type: object
      properties:
        id:
          maxLength: 15
          type: string
          description: El Id es el número del resumen asignado en la base de datos.
          example: '16547'
        statementDate:
          maxLength: 10
          minLength: 10
          type: string
          description: >-
            Fecha de cierre de cuenta corriente en formato yyyy-MM-dd (ISO
            8601).
          example: '2024-07-15'
        statusId:
          maxLength: 256
          type: string
          description: Estatus del identificador (Id).
      description: Lista los resumenes disponibles de acuerdo a la consulta.
    ListMonthlySummariesResponse:
      type: object
      properties:
        summaries:
          type: array
          description: Lista los resumenes disponibles de acuerdo a la consulta.
          items:
            $ref: '#/components/schemas/DataMonthlySummary'
    Code:
      type: object
      properties:
        id:
          maxLength: 5
          type: string
          description: Exclusivo VisionPLUS.</br>Posición del elemento de la matriz.
          example: '5'
        value:
          maxLength: 10
          type: string
          description: Exclusivo VisionPLUS.</br>Código de usuario.
          example: '123456789'
      description: Exclusivo VisionPLUS.</br>Información del código.
    Date:
      type: object
      properties:
        id:
          maxLength: 5
          type: string
          description: Exclusivo VisionPLUS.</br>Posición del elemento de la matriz.
          example: '5'
        value:
          maxLength: 10
          type: string
          description: Exclusivo VisionPLUS.</br>Fecha de usuario.
          format: yyyy-MM-dd
          example: '2023-06-01'
      description: 'Exclusivo VisionPLUS.</br>Información de fecha. Tamaño de la lista: 5'
    MonthlySummaryDataRequest:
      type: object
      properties:
        cardNumber:
          pattern: '[0-9A-F]{64}'
          type: string
          description: >-
            Este campo de entrada permite ingresar el número de tarjeta (PAN)
            encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequestOnlyTitular'
        statementDate:
          maxLength: 10
          minLength: 10
          pattern: yyyy-MM-dd
          type: string
          description: >-
            La fecha de cierre del resumen mensual. esta fecha debera tener el
            formato yyyy-MM-dd.
          example: '2024-05-31'
        transaction:
          $ref: '#/components/schemas/TransactionSummaryRequest'
        organizationNumber:
          maxLength: 3
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>El campo OrganizationNumber es un atributo
            que contiene el número de identificación único asignado a una
            organización dentro de la API.
          example: '998'
        keyword:
          maxLength: 20
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>El campo de palabra clave se utiliza para
            buscar la descripción de la transacción.
          example: user's_keyword
        startToken:
          maxLength: 26
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>El campo startToken es el token generado
            para que la API comprenda el siguiente conjunto de transacciones que
            se recuperarán.
          example: 177100079202316ES000000013
        queryMoreTransactions:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>El campo queryMoreTransactions se
            utiliza cuando se completa el campo "startToken" para obtener más
            transacciones.</br></br>Valores:</br></br>N = Próximas
            transacciones;</br>P = Transacciones anteriores.
          example: 'N'
        serviceType:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Tipo de
            servicio.</br></br>Valores:</br></br>S = Detalle del estado de
            cuenta</br>M = Detalle mensual
          example: S
        foreignIndicator:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Indicador de doble
            moneda</br></br>Valores:</br></br>Espacios o L = Cuenta local</br>F
            = Cuenta extranjera
          example: L
        statement:
          $ref: '#/components/schemas/StatementSummaryRequest'
        user:
          $ref: '#/components/schemas/UserSummaryRequest'
        isMerchantInformationRequired:
          maxLength: 4
          type: boolean
          description: >-
            Exclusivo VisionPLUS.</br></br>El campo
            isMerchantInformationRequired indica si la información del
            comerciante es obligatoria o no.</br></br>Valores:</br></br>false =
            No se requiere información del comerciante;</br>true = Se requiere
            información del comerciante.
          example: true
        isForeing:
          maxLength: 1
          type: boolean
          description: >-
            Exclusivo VisionPLUS.</br></br>El campo isForeign se proporciona en
            el mensaje de entrada para que la fuente solicitante pueda
            especificar si la solicitud se aplica a la cuenta local o extranjera
            cuando la cuenta está en una organización de procesamiento de doble
            moneda. El valor predeterminado es la cuenta
            local.</br></br>Valores:</br></br>false = Cuenta local;</br>true =
            Cuenta extranjera.
    StatementSummaryRequest:
      type: object
      properties:
        date:
          maxLength: 10
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Fecha de estado de cuenta (en ISO 8601).
            Fecha gregoriana: formato CCAAMMDD.
          example: '2023-06-01'
        monthsNumber:
          maxLength: 2
          type: string
          description: Exclusivo VisionPLUS.</br>Número de meses del estado de cuenta.
          example: '10'
      description: Exclusivo VisionPLUS.</br>Información del estado de cuenta.
    TransactionAmountRange:
      type: object
      properties:
        from:
          maxLength: 16
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Rango de monto inicial de la transacción.
            Formato: 9999999999999.99.
          example: '928374.23'
        to:
          maxLength: 16
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Rango de monto "hasta" de la transacción.
            Formato: 9999999999999.99.
          example: '2.83756392391E9'
      description: >-
        Exclusivo VisionPLUS.</br>Rango de montos en el cual se realizará la
        busqueda de transacciones.
    TransactionDateRange:
      type: object
      properties:
        from:
          maxLength: 10
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Rango de fecha de inicio de la
            transacción. (Formato ISO 8601).
          format: yyyy-MM-dd
          example: '2024-05-31'
        to:
          maxLength: 10
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Rango de fecha “hasta” de la transacción.
            (Formato ISO 8601).
          format: yyyy-MM-dd
          example: '2024-05-31'
      description: >-
        Exclusivo VisionPLUS.</br>Rango de fechas en el cual se realizará la
        busqueda de transacciones.
    TransactionSummaryRequest:
      type: object
      properties:
        details:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>El campo de detalles representa el
            indicador de detalles de la
            transacción.</br></br>Valores:</br></br>Espacio = Usar tanto actual
            como reciente (Mostrar la transacción pendiente/publicada);</br>B =
            Usar tanto actual como reciente (Mostrar la transacción
            pendiente/publicada)</br>C = Actual (Transacciones del ciclo hasta
            la fecha);</br>R = Recientes (Transacciones detalladas del estado de
            cuenta);</br>S = Sólo el primer estado de cuenta reciente</br>M =
            Mensual (Transacciones detalladas del estado de cuenta);</br>P =
            Transacciones contabilizadas.
          example: B
        type:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>El campo tipo representa el tipo de
            transacción.</br></br>Valores:</br></br>0 = Todos;</br>1 = Intereses
            y comisiones;</br>2 = Pago;</br>3 = Disputa;</br>4 = Almacén;</br>5
            = Sólo intereses;</br>6 = Solo tarifa;</br>7 = Sólo tarjeta.
          example: '0'
        transactionsNumber:
          maxLength: 2
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>El número de transacciones representa el
            número de transacciones. El número máximo es 50.
          example: '50'
        monthsNumber:
          maxLength: 2
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>El campo MonthNumber representa el número
            de meses de la transacción.
          example: '12'
        transactionDateRange:
          $ref: '#/components/schemas/TransactionDateRange'
        transactionAmountRange:
          $ref: '#/components/schemas/TransactionAmountRange'
      description: Exclusivo VisionPLUS. </br> Datos de las transacciones.
    UserSummaryRequest:
      type: object
      properties:
        date:
          type: array
          description: >-
            Exclusivo VisionPLUS.</br>Información de fecha. Tamaño de la lista:
            5
          items:
            $ref: '#/components/schemas/Date'
        amount:
          type: array
          description: >-
            Exclusivo VisionPLUS.</br>Información de cantidad. Tamaño de la
            lista: 5
          items:
            $ref: '#/components/schemas/Amount'
        code:
          type: array
          description: Exclusivo VisionPLUS.</br>Información del código.
          items:
            $ref: '#/components/schemas/Code'
      description: Exclusivo VisionPLUS.</br>Información del usuario.
    AccountSummaryResponse:
      type: object
      properties:
        number:
          maxLength: 15
          type: string
          description: >-
            Número de cuenta del formateado. Concatena EEE-CCCCCCCC-A-D. Donde:
            EEE = Código de Entidad, CCCCCCCC = Numero de cuenta, A = Adicional,
            y D = Digito verificador de la cuenta.
          example: 019-1090909-0-9
        checkDigit:
          maxLength: 1
          type: string
          description: >-
            Dígito verificador de la cuenta. Dígito que se agrega al número de
            cuenta con el fin de detectar errores. Este numero puede variar
            entre 0 y 9.
          example: '9'
        currentGroup:
          maxLength: 2
          type: string
          description: >-
            Grupo Cuenta Corriente procesado. Valores para Argentina 11, 12, 13,
            14; Uruguay 01, 02, 03, 04.
          example: '11'
        logo:
          maxLength: 3
          type: string
          description: >-
            Código que identifica al producto/marca. El valor puede ser un
            numero entre 0 y 999.
          example: '501'
        statement:
          $ref: '#/components/schemas/Statement'
        balance:
          $ref: '#/components/schemas/Balance'
        limits:
          type: array
          description: Información de Límites y Disponibles.
          items:
            $ref: '#/components/schemas/Limit'
        totals:
          type: array
          description: Datos consolidados del resumen.
          items:
            $ref: '#/components/schemas/Total'
        taxesFeesAndInterests:
          type: array
          description: Datos de Impuestos, Tarifas e Intereses.
          items:
            $ref: '#/components/schemas/TaxesFeesAndInterests'
      description: Datos de la cuenta.
    Additional:
      type: object
      properties:
        fullName:
          maxLength: 26
          type: string
          description: Nombre del cliente titular o adicionales.
          example: Esteban Gonzales
        label:
          maxLength: 13
          type: string
          description: >-
            Se informa:</br></br>Valores</br></br>Total Titular</br>Total
            Adicional
          example: Total Titular
        currencyBalance:
          $ref: '#/components/schemas/CurrencyBalance'
      description: >-
        Datos del cliente titular o adicionales. Conocido también como
        "AUTORIZADO".
    Address:
      type: object
      properties:
        street:
          maxLength: 30
          type: string
          description: Domicilio del cliente, Calle y Número del domicilio.
          example: Av San Juan 1089
        floor:
          maxLength: 2
          type: string
          description: Piso del domicilio del cliente.
          example: '1'
        department:
          maxLength: 3
          type: string
          description: Departamento del domicilio del cliente.
          example: A
        city:
          maxLength: 20
          type: string
          description: Ciudad del domicilio del cliente.
          example: Quilmes
        zipCode:
          maxLength: 8
          type: string
          description: Código postal del domicilio del cliente.
          example: '01859'
      description: Información del domicilio del cliente.
    Allocated:
      type: object
      properties:
        localCurrencyAmount:
          maxLength: 16
          type: string
          description: >-
            Monto imputado en pesos. Formato -999999999999,99. Se informan
            blancos a izquierda.
          example: '-999999999999,99'
        foreingCurrencyAmount:
          maxLength: 10
          type: string
          description: >-
            Monto imputado en dólares. Formato -999999,99. Se informan blancos a
            izquierda
          example: '-999999,99'
      description: Datos de importe otorgado.
    Authorization:
      type: object
      properties:
        authorizationTime:
          maxLength: 10
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Capturar la hora de autorización.
            Esta información debe completarse desde la compensación. La hora de
            autorización se mencionará en el formato HH:MM:SS. En el caso de las
            transacciones con VISA, la hora no se captura en el archivo de
            liquidación.
          format: hh:mm:ss
          example: '14:27:45'
        authorizationCode:
          maxLength: 6
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Código de autorización de la
            transacción.
          example: A01526
      description: Exclusivo VisionPLUS. Datos de la autorización.
    Balance:
      type: object
      properties:
        billedBeginning:
          maxLength: 17
          type: integer
          description: >-
            Exclusivo VisionPLUS. Saldo inicial de la cuenta en este estado de
            cuenta.
          format: int32
          example: 100
        billedEnding:
          maxLength: 17
          type: string
          description: >-
            Exclusivo VisionPLUS. Saldo final de la cuenta en este estado de
            cuenta.
          example: '100'
        totalBeginning:
          maxLength: 17
          type: string
          description: >-
            Exclusivo VisionPLUS. Saldo total inicial. Monto: formato con
            decimales únicamente (por NOD).
          example: '100'
        totalEnding:
          maxLength: 17
          type: string
          description: >-
            Exclusivo VisionPLUS. Saldo final total. Monto: formato con
            decimales únicamente (por NOD).
          example: '100'
        lateChargeAssessed:
          maxLength: 13
          type: string
          description: >-
            Exclusivo VisionPLUS. El saldo sobre el cual ya se ha aplicado el
            recargo por pago atrasado.
          example: '100'
        lateChargeEnding:
          maxLength: 13
          type: string
          description: >-
            Exclusivo VisionPLUS. El saldo al final del ciclo que califica para
            el cargo por pago atrasado.
          example: '100'
        lastMonth:
          $ref: '#/components/schemas/LastMonth'
        currentMonth:
          $ref: '#/components/schemas/CurrencyMonth'
        nextMonth:
          $ref: '#/components/schemas/NextMonth'
      description: >-
        Proporciona información del estado de cuenta de la tarjeta al final de
        su ciclo de facturación.
    Barcode:
      type: object
      properties:
        numericKey:
          maxLength: 49
          type: string
          description: Valor numérico del código de barras para en talón de pago.
          example: '32165400000006578910000000000231560004895620158745'
        header:
          maxLength: 10
          type: string
          description: Correspondiente al encabezado del Código de Barras del resumen.
          example: '256498'
      description: Información de códigos de barras en resumen.
    Block:
      type: object
      properties:
        id:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS.</br>Posición del elemento de la matriz.
          example: '100'
        value:
          maxLength: 1
          type: string
          description: >-
            Exclusivo VisionPLUS.</br>Campo de dos partes que identifica los
            códigos de bloque asignados a la cuenta. Valores:</br>A–Z y en
            blanco (o espacio).
          example: A
      description: Exclusivo VisionPLUS.</br>Bloque de información.
    Branch:
      type: object
      properties:
        number:
          maxLength: 3
          type: string
          description: Número asignado a la Sucursal otorgante de la tarjeta.
          example: '66'
        checkDigit:
          maxLength: 1
          type: string
          description: Dígito verificador correspondiente a la Entidad Sucursal.
      description: Información que identifica a la Sucursal otorgante de la tarjeta.
    CardSummaryResponse:
      type: object
      properties:
        number:
          maxLength: 19
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Identificador único o token asociado
            al número de tarjeta o instrumento de pago FirstVision PAN Token.
          example: 00123456ID5IXX12345
        sequence:
          maxLength: 5
          type: string
          description: Exclusivo VisionPLUS.</br></br>Secuencia de tarjeta.
          example: '1'
        blockCode:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS.</br></br>Código de bloqueo de tarjeta.
          example: A
        acceptorId:
          maxLength: 16
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Identificación del receptor de
            tarjetas.
          example: LJS38RNS24900003
        embossedName:
          maxLength: 40
          type: string
          description: Exclusivo VisionPLUS.</br></br>Nombre en relieve en tarjeta.
          example: Embossed name
      description: Exclusivo VisionPLUS.
    Checking:
      type: object
      properties:
        flag:
          maxLength: 2
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Bandera de la Cámara de Compensación
            Automatizada.
        routingNumber:
          maxLength: 2
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Código que indica el número de
            agencia asignado al titular de la tarjeta.
      description: Exclusivo VisionPLUS.</br>Comprobando información.
    ConversionRate:
      type: object
      properties:
        value:
          maxLength: 12
          type: string
          description: Exclusivo VisionPLUS.</br></br>Tasa de conversión de transacciones.
          example: '125'
        formattedValue:
          maxLength: 18
          type: string
          description: Exclusivo VisionPLUS.</br></br>Tasa de conversión de transacciones.
          example: '125.0'
      description: Exclusivo VisionPLUS.
    Credit:
      type: object
      properties:
        amount:
          maxLength: 17
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Importe total de todos los créditos
            del lote. Importe: formato con decimales únicamente (por NOD).
          example: '100'
        number:
          maxLength: 3
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Número total de transacciones de
            crédito en el lote.
          example: '100'
      description: Exclusivo VisionPLUS.</br>Información de crédito.
    Currency:
      type: object
      properties:
        currencyDescription:
          maxLength: 3
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Código de moneda ISO que identifica
            la unidad monetaria para los campos de monto monetario.
          example: '100'
        code:
          maxLength: 28
          type: string
          description: Exclusivo VisionPLUS.</br></br>Descripción de la moneda.
          example: currency description
        decimalNumber:
          maxLength: 9
          type: string
          description: >-
            Exclusivo VisionPLUS.</br></br>Número de posiciones decimales a la
            derecha del punto decimal (u otro carácter decimal) en los campos de
            monto monetario.
          example: '1'
      description: Exclusivo VisionPLUS.</br>Información sobre divisas.
    CurrencyBalance:
      type: object
      properties:
        localCurrencyAmount:
          maxLength: 16
          type: string
          description: >-
            Saldo en pesos del autorizado. Formato -999999999999,99. Se informan
            blancos a izquierda.
          example: '-999999999999,99'
        foreignCurrencyAmount:
          maxLength: 12
          type: string
          description: >-
            Saldo en dólares del autorizado. Formato -999999999,99. Se informan
            blancos a izquierda
          example: '-99999999,99'
      description: Saldos del autorizado.
    CurrencyMonth:
      type: object
      properties:
        statementDate:
          maxLength: 10
          type: string
          description: Fecha de cierre actual. Formato ISO 8601.
          format: yyyy-MM-dd
          example: '2024-05-31'
        dueDate:
          maxLength: 10
          type: string
          description: Fecha de vencimiento actual. Formato ISO 8601.
          format: yyyy-MM-dd
          example: '2024-05-31'
        localCurrencyAmount:
          maxLength: 16
          type: string
          description: >-
            Saldo actual. Formato -999999999999,99. Se informan blancos a
            izquierda.
          example: '-999999999999,99'
        foreingCurrencyAmount:
          maxLength: 13
          type: string
          description: >-
            Saldo actual en dólares. Formato -999999999,99. Se informan blancos
            a izquierda.
          example: '-999999999,99'
        minimumPayment:
          maxLength: 16
          type: string
          description: >-
            Pago mínimo actual. Formato -999999999999,99. Se informan blancos a
            izquierda.
          example: '-999999999999,99'
    Customer:
      type: object
      properties:
        fullName:
          maxLength: 30
          type: string
          description: Nombre y apellido del cliente.
          example: Alamo, Patricia
        tributaryNumber:
          maxLength: 13
          type: string
[...]
