################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates.
# Fiserv is a trademark of Fiserv, Inc.,
# registered or used in the United States and foreign countries,
# and may or may not be registered in your country.
# All trademarks, service marks,
# and trade names referenced in this
# material are the property of their
# respective owners. This work, including its contents
# and programming, is confidential and its use
# is strictly limited. This work is furnished only
# for use by duly authorized licensees of Fiserv, Inc.
# or its affiliates, and their designated agents
# or employees responsible for installation or
# operation of the products. Any other use,
# duplication, or dissemination without the
# prior written consent of Fiserv, Inc.
# or its affiliates is strictly prohibited.
# Except as specified by the agreement under
# which the materials are furnished, Fiserv, Inc.
# and its affiliates do not accept any liabilities
# with respect to the information contained herein
# and are not responsible for any direct, indirect,
# special, consequential or exemplary damages
# resulting from the use of this information.
# No warranties, either express or implied,
# are granted or extended by this work or
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: Silvercore™ Cards Service - API Documentation
  description: This documentation describes the REST APIs provided by the Silvercore™
  version: "2.0"
servers:
  - url: https://int.api.firstdata.com/latam-gfs-apis/
    description: Sandbox Test
paths:
  /cards/v1/pin:
    put:
      tags:
        - Pin Block
      summary: "Esta Api permite la Gestión del PIN para extracciones en ATM u otras operaciones según mercado. El valor de PIN que se envía sobrescribe el previo existente y tiene impacto Batch. \r\nLos posibles mensajes de error de esta Api se deben a los siguientes casos: </br>- 11 Rutina - Error Gestión de PIN: Refiere a errores de ENCRIPCION Pin Pinblock – Pinblock generado no valido.</br>- Tarjeta Bloqueada: 3 Intentos fallidos. Es una respuesta acorde a una tarjeta que intento generar PIN sin éxito en cualquier canal (intentó por IVR/ATM y se encuentra bloqueado por seguridad)</br>- Pin ya generado para esta tarjeta. Tarjetas SOLAPADAS (esto es cuando hay dos tarjetas conviviendo)</br>- Cambio denegado – Igual al punto previo (Pin igual al anterior / compara OFFSET y declina)</br>- Entidad no permite cambio de PIN (configuración del emisor)"
      operationId: setPinBlock
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinBlockRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PinBlockResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: PIN
      x-group-name: Card
      x-child-product-name: Cards
  /cards/virtual:
    post:
      tags:
        - Virtual Card
      summary: "Ofrece al tarjetahabiente la posibilidad de solicitar la generación de la tarjeta en formato físico. \r\nLa solicitud indica el inicio del proceso de impresión/embozado/personalización de la tarjeta que se encuentra activa virtualmente en nuestro centro de embozado. No se genera bloqueo ni nuevo número de tarjeta. \r\nIngresa como novedad en el sistema de generación de plástico y flujo de envío a domicilio del cliente en sistema con permisionaria del emisor."
      operationId: setActivarTarjeta
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCardRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCardResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Virtual Card
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transactions/v2/transactions:
    post:
      tags:
        - Transactions
      summary: Esta API lista las transacciones del Último resumen (Transacciones liquidadas) y del periodo actual (pendientes de liquidación); pudiéndose consultar por fecha de cierre de resumen o por rango de fechas de consumo.  </br></br>Los campos que tienen la leyenda "Exclusivo VisionPLUS" no son requeridos en esta instancia. Pueden no incluirse o ser enviados con valor null.
      operationId: consulta
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionsRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Claim Status
      x-group-name: Card
      x-child-product-name: Cards
  /cards/transactions/v2/claims:
    post:
      tags:
        - Claims
      summary: "Esta API permite que el Emisor pueda ofrecer al cliente la posibilidad del ingreso de reclamos, sobre las transacciones previamente listadas, a los sistemas FISERV + Claim Manager con el fin de dar tratamiento según tipologías: </br>•\tDesconocimientos </br>•\tIncidentes </br>Además de bloquear la tarjeta cuando el motivo de reclamo lo amerite.  </br></br>Los campos que tienen la leyenda \"Exclusivo VisionPLUS\" no son requeridos en esta instancia. Pueden no incluirse o ser enviados con valor null."
      operationId: alta
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Claim
      x-group-name: Card
      x-child-product-name: Cards
  /cards/replacement:
    post:
      tags:
        - Replacement Card
      summary: "Ofrece la posibilidad de generar una novedad de Reimpresión/Reemplazo/Reposición de la tarjeta sin bloquear la actual. Además, se incluye la marca de Virtual (V) o Física (F). \r\nGenera una nueva tarjeta que la reemplazará en forma solapada, la cual solo desactivará la anterior al momento que finalice el solapamiento determinado por el emisor, el cliente reciba este reemplazo, active o utilice. </br></br>Según el valor que toma reissueCode, pueden darse los siguientes casos: </br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER colspan='2'>Sí reissueCode = a 1 - Descripción de valor 1: Modificación de Límite de compra (Letras)    </th></tr><tr><td BORDER>fullName</td><td BORDER>Puede ser vacío o null.</td></tr><tr><td BORDER>creditLimitChar</td><td BORDER>Debe corresponder a los valores permitidos.</td></tr><tr><td BORDER>affinityGroupdescription</td><td BORDER>Puede ser vacío o null.</td></tr></table></br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER colspan='2'>Sí reissueCode= a 2 – Descripción de valor 2: Modificación deDatos del socio Nombre y        Apellido / Full Name</th></tr><tr><td BORDER>fullName</td><td BORDER>Requerido. Debe incluir valor.</td></tr><tr><td BORDER>creditLimitChar</td><td BORDER>Puede ser vacío o null.</td></tr><tr><td BORDER>affinityGroupdescription</td><td BORDER>Puede ser vacío o null.</td></tr></table></br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER colspan='2'>Sí reissueCode= a 3 – Descripción de valor 3: Modificación deDatos varios: Del socio Nombre        y Apellido / Full Name + Limite de compra</th></tr><tr><td BORDER>fullName</td><td BORDER>Requerido. Debe incluir valor.</td></tr><tr><td BORDER>creditLimitChar</td><td BORDER>Requerido. Debe incluir valor.</td></tr><tr><td BORDER>affinityGroupdescription</td><td BORDER>Puede ser vacío o null.</td></tr></table></br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER colspan='2'>Sí reissueCode= a 4 – Descripción de valor 4: Cambio de Grupo de Afinidad</th></tr><tr><td BORDER>fullName</td><td BORDER>Puede ser vacío o null.</td></tr><tr><td BORDER>creditLimitChar</td><td BORDER>Puede ser vacío o null.</td></tr><tr><td BORDER>affinityGroupdescription</td><td BORDER>Requerido. Debe incluir valor.</td></tr></table></br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER colspan='2'>Sí reissueCode= a 6 ó 10 – Descripción de valores: 6 para destrucción o daño / 10 equivale        a OTROS y no requieren otros campos</th></tr><tr><td BORDER>No se realiza ninguna validación.</td></tr></table>"
      operationId: setReplacement
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplacementRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReplacementResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Replacement
      x-group-name: Card
      x-child-product-name: Cards
  /cards/reissue:
    post:
      tags:
        - Reissue Card
      summary: "Ejecuta el pedido de REIMPRESION/REEMPLAZO con BLOQUEO; inhabilitando la tarjeta original que genera el movimiento y completando la acción con la REIMPRESION/REEMPLAZO de la tarjeta con una nueva numeración y envío al domicilio registrado en sistema o a uno nuevo detallado en el mensaje para el envío puntual/unitario de la nueva credencial.\r\n*Posee campos opcionales referentes a la administración para la emisión (Tipo de Emisión)"
      operationId: setReimpresion
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReissueResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Reissue
      x-group-name: Card
      x-child-product-name: Cards
  /cards/onOff:
    post:
      tags:
        - On Off
      summary: |-
        Este servicio ofrece al tarjetahabiente mantener pausadas/inactivas sus tarjetas para operar. 
        La presente API ofrece al cliente tomar acción sobre la tarjeta; despausar/pausar (ON/OFF).
        A nivel interno, se permite activar o desactivar la transaccionalidad de cualquier tarjeta, mediante 
        boletinamiento 84. </br></br><b>Ejemplos de respuesta de la API </b> </br></br>▪ Acción Pausado </br>{ </br> "code": "+0000", </br> "message": "Su tarjeta ha sido Tarjeta pausada" </br>} </br>▪ Acción Despausado </br>{ </br> "code": "+0000", </br> "message": "Su tarjeta ha sido despausada" </br>} </br></br><b>Posibles casos de respuesta </b> </br></br><table BORDER style="border-collapse: collapse; text-align: center;"><tr BORDER><th BORDER>Caso</th><th BORDER>Respuesta de la API</th></tr BORDER><tr><td>Tarjeta sin boletín</td><td>“Su tarjeta ha sido Tarjeta pausada”</td></tr><tr BORDER><td>Tarjeta con boletín 84 (pausado)</td><td>“Su tarjeta ha sido despausada”</td></tr></table>
      operationId: PauseOrActive
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnOffRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnOffResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: On Off
      x-group-name: Card
      x-child-product-name: Cards
  /cards/onOff/status:
    post:
      tags:
        - On Off
      summary: |-
        Este servicio ofrece al tarjetahabiente mantener pausadas/inactivas sus tarjetas para operar. 
        La presente API realiza la consulta inicial que reporta el ESTADO de la tarjeta (Pausada / No Pausada / Bloqueada 
        por otros motivos) que luego permitirá habilitar al cliente para la acción a tomar (ON / OFF).
        A nivel interno, se permite Pausar o Despausar la transaccionalidad de cualquier tarjeta, mediante 
        boletinamiento 84. </br></br><b>Ejemplos de respuesta de la API </b> </br></br>▪ Tarjeta con boletín 84 </br>{ </br> "code": "+0000", </br> "message": "Tarjeta PAUSADA" </br>} </br>▪ Tarjeta sin boletín </br>{ </br> "code": "+0000", </br> "message": "Tarjeta NO PAUSADA" </br>} </br>▪ Tarjeta con boletín distinto a 84 </br>{ </br> "code": "+0000", </br> "message": "9 - Tarjeta Bloqueada" </br>} </br>{ </br> "code": "+0000", </br> "message": "7 - Tarjeta Bloqueada" </br>} </br>{ </br> "code": "+0000", </br> "message": "81 - Tarjeta Bloqueada" </br>} </br></br><b>Posibles casos de respuesta </b> </br></br><table BORDER style="border-collapse: collapse; text-align: center;"><tr BORDER><th BORDER>Caso</th><th BORDER>Respuesta de la API</th><th BORDER>Acción posible</th></tr BORDER><tr><td>Tarjeta sin boletín</td><td>“Tarjeta NO PAUSADA”</td><td>Puede pausar con la API cards/onOff</td></tr><tr BORDER><td>Tarjeta con boletín 84 (pausado)</td><td>“Tarjeta PAUSADA”</td><td>Puede despausar con la API cards/onOff</td></tr><tr BORDER><td>Tarjeta en otro boletín distinto a 84</td><td>Código de Boletín - “Tarjeta Bloqueada”</td><td>No puede pausar ni bajar el bloqueo con la API cards/onOff</td></tr></table>
      operationId: getCardStatus
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnOffStatusRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnOffStatusResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: On Off Status
      x-group-name: Card
      x-child-product-name: Cards
  /cards/instantIssuance:
    post:
      tags:
        - Instant Issuance
      summary: "Permite gestionar en forma instantánea el alta de una nueva Cuenta/Tarjeta o generar nuevos adicionales para una Cuenta existente, para ser utilizada en forma inmediata. Otorga en la respuesta todos los datos de la Tarjeta para ser visualizados en las diferentes UX apoyando las iniciativas de tarjetas en formato digital. \r\nTambién proporciona la opción de utilización de la salida de datos para la personalización para input a una embozadora certificada Contactless (Embozado a Distancia). \r\n*Posee campos referentes a la administración para la emisión virtual (Tipo de Emisión). </br></br>Según los campos \"accountNumber\", \"additional\", \"checkDigit\", \"affinityGroupCode\", \"affinityGroupCheckDigit\" y \"affinityGroupDescription\" es el alta que se generara: </br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER></th><th BORDER>Alta Tit c/ GAFF  |  </th><th BORDER>Alta Tit SIN GAFF</th></tr><tr><td BORDER> accountNumber </td><td></td><td></td></tr><tr><td BORDER> additional </td><td></td><td></td></tr><tr><td BORDER> checkDigit </td><td></td><td></td></tr><tr><td BORDER> affinityGroupCode </td><td>X</td><td></td></tr><tr><td BORDER> affinityGroupCheckDigit </td><td>X</td><td></td></tr><tr><td BORDER> affinityGroupdescription </td><td>X</td><td></td></tr></table></br><table BORDER style='border-collapse: collapse; text-align: center;'><tr><th BORDER></th><th BORDER>Alta Adic. c/ GAFF  |  </th><th BORDER>Alta Adic. SIN GAFFF</th></tr><tr><td BORDER> accountNumber </td><td>X</td><td>X</td></tr><tr><td BORDER> additional </td><td>X</td><td>X</td></tr><tr><td BORDER> checkDigit </td><td>X</td><td>X</td></tr><tr><td BORDER> affinityGroupCode </td><td>X</td><td></td></tr><tr><td BORDER> affinityGroupCheckDigit </td><td>X</td><td></td></tr><tr><td BORDER> affinityGroupdescription </td><td>X</td><td></td></tr></table>"
      operationId: postInstantIssuanceService
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstantIssuanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstantIssuanceResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      - code: 0
                        description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Instant Issuance
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cvv:
    post:
      tags:
        - CVV
      summary: Posibilita la obtención del dato CVC2/CVV2 para la tarjeta seleccionada según método de consulta (Cuenta+Pan Enmascarado o bien PAN encriptado), de manera que el emisor pueda mostrar los datos de la tarjeta para su utilización en cualquier UX, control u onboarding a diferentes billeteras.
      operationId: getCvv
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CvvRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CvvResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: CVV
      x-group-name: Card
      x-child-product-name: Cards
  /cards/cardNumber:
    post:
      tags:
        - Card Number
      summary: La API informa los datos completos del producto seleccionado según método de consulta (Cuenta+Pan Enmascarado o bien PAN encriptado);  permitiendo conformar los datos de la tarjeta (PAN VTO Datos del cliente) para su utilización en cualquier UX, control/actualización de datos u onboarding a diferentes billeteras.
      operationId: getCardNumber
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardNumberRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardNumberResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Card Number
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequest:
    post:
      tags:
        - Block Card
      summary: "Este servicio permite a las entidades ofrecer a los socios la posibilidad de denunciar sus tarjetas por Robo o extravío en forma inmediata online.  \r\nPermite además complementar la acción con la solicitud de No Reimpresión/Reimpresión o Reemplazo de la tarjeta con una nueva numeración.  \r\nLa reimpresión es enviada a la dirección del socio/tarjetahabiente que se encuentre en el sistema o a uno nuevo detallado en el mensaje para el envío puntual/unitario de la nueva credencial.  \r\n*Posee campos opcionales referentes a la administración para la emisión virtual (Tipo de Emisión)"
      operationId: setBloqueo
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BloqueoRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BloqueoResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block
      x-group-name: Card
      x-child-product-name: Cards
  /cards/blockRequestFees:
    post:
      tags:
        - Block Fees Card
      summary: Permite obtener el costo de Denuncia/Bloqueo para la tarjeta que el cliente selecciona. El dato precio se encuentra seteado previamente por el emisor y puede variar entre productos de la misma institución financiera.
      operationId: getCostoBloqueo
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequestFeesRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockRequestFeesResponseb'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Block Fees
      x-group-name: Card
      x-child-product-name: Cards
  /cards/activation:
    post:
      tags:
        - Activation Card
      summary: Brinda la posibilidad de solicitar en forma online la ACTIVACION para la tarjeta seleccionada (Prepagas, Crédito tanto para segmentos Individuo y Corporativo). El emisor puede instrumentar esta API con 1 o N tarjetas y combinar la acción con la previa consulta de las tarjetas que conforman la cuenta (Titular + Adicionales)
      operationId: setActivarTarjeta_1
      parameters:
        - name: Authorization
          in: header
          description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
          required: false
          schema:
            maxLength: 35
            minLength: 35
            type: string
            description: ' Autenticación del tipo Bearer Token utilizando el token entregado por el servicio /token'
            example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
          example: Bearer PFUBkjGmVGzRb2URdVTNxvqXEfyQ
        - name: apikey
          in: header
          description: Provisto por Fiserv ClientKey de ApiGee.
          required: false
          schema:
            maxLength: 32
            minLength: 32
            type: string
            description: Provisto por Fiserv ClientKey de ApiGee.
            example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
          example: NVRuz4cyQyrHpyGwHTiHRAzJg9itrjei
        - name: Signature
          in: header
          description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
          required: false
          schema:
            maxLength: 44
            minLength: 44
            type: string
            description: Valida la firma HMAC enviada por el cliente mediante un algoritmo incrustado en APIGEE.
            example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
          example: TMH815p9C0q9iq53yodLIbkjylnstn1JUFBEAjpVQ2A=
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                Reponse 1:
                  description: Validation of required fields
                  value:
                    fieldName1: string
                    fieldName2: string
                Reponse 2:
                  description: Mainframe message
                  value:
                    errorResponse:
                      code: 0
                      description: string
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDetailsResponse'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFiserVResponse'
      x-proxy-name: Activation
      x-group-name: Card
      x-child-product-name: Cards
components:
  schemas:
    ErrorDetailsResponse:
      type: object
      properties:
        dateError:
          type: string
          format: date-time
        message:
          type: string
        detail:
          type: string
    AccountRequest:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: Este campo de entrada proporciona el código de la entidad del tarjetahabiente.
          format: int32
          example: 0
    PinBlockRequest:
      required:
        - pin
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountRequest'
        pin:
          $ref: '#/components/schemas/PinData'
        organizationNumber:
          maxLength: 3
          minLength: 1
          type: string
          description: Organización.
          example: '999'
        logo:
          maxLength: 3
          minLength: 1
          type: string
          description: Número de identificación del logotipo
          example: '999'
        channelIndicator:
          maxLength: 1
          minLength: 1
          type: string
          description: "Código que indica la fuente a efectos de reporte.\r\n\r\nValores:\r\n\r\nA = cajero automático;\r\nI = Respuesta de voz interactiva;\r\nW = WEB."
          example: W
        keyAssociation:
          maxLength: 3
          minLength: 1
          type: string
          description: Asociación clave. "I" + "la asociación de clave definida para el cliente durante la implementación en el campo".
          example: IYY
    PinData:
      required:
        - requestedBlockNumber
      type: object
      properties:
        requestedBlockNumber:
          maxLength: 16
          minLength: 16
          pattern: ^[0-9A-F]{16}
          type: string
          description: Este campo de entrada permite ingresar el nuevo PIN
          example: C3D4E5F6G7H8I9J1
        currentBlockNumber:
          maxLength: 16
          minLength: 16
          type: string
          description: Este campo de entrada permite ingresar el PIN actual
          example: C3D4E5F6G7H8I9J1
        offsetNumber:
          maxLength: 4
          minLength: 1
          type: integer
          description: PIN offset
          format: int32
          example: 9999
    ErrorFiserVDetailsResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        description:
          type: string
    ErrorFiserVResponse:
      type: object
      properties:
        errorResponse:
          $ref: '#/components/schemas/ErrorFiserVDetailsResponse'
    FeePinBlockData:
      type: object
      properties:
        amount:
          maxLength: 9
          pattern: '[0-9]{0,999999999}'
          type: integer
          description: Monto de la tarifa calculada
          format: int32
          example: 35
        waiveReason:
          maxLength: 1
          minLength: 1
          pattern: '[0-9]{1}'
          type: integer
          description: Motivo de la extension de tarifas
          format: int32
          example: 1
        responseCode:
          maxLength: 2
          minLength: 1
          pattern: '[0-9]{2}'
          type: integer
          description: Código de respuesta de tarifa
          format: int32
          example: 23
    PinBlockResponse:
      type: object
      properties:
        fee:
          $ref: '#/components/schemas/FeePinBlockData'
    VirtualCardRequest:
      required:
        - bankBranch
        - operationDate
        - requestNumber
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          pattern: '[0-9A-F]{32}'
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
        cardNumber:
          maxLength: 64
          minLength: 64
          pattern: '[0-9A-F]{64}'
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        bankBranch:
          maxLength: 3
          minLength: 1
          type: integer
          description: Corresponde al código de la sucursal bancaria donde el socio tiene radicada su cuenta / tarjeta
          format: int32
          example: 562
        operationDate:
          maxLength: 6
          minLength: 5
          type: string
          description: Este campo de entrada, permite ingresar el dato correspondiente a la fecha en que se realiza la operación
          example: '2023-08-24'
        requestNumber:
          maxLength: 6
          minLength: 1
          type: integer
          description: Número de solicitud interno de la entidad emisora.
          format: int32
          example: 68
        issuingType:
          maxLength: 1
          pattern: F|V|
          type: string
          description: Este campo permite ingresar el formato en que se emitira la tarjeta, puede tomar valores V para tarjetas emitidas solo en formato Virtual/Digital; F para tarjetas Físicas donde se generará el plástico para ser entregado o valor Vacio cuando no haya decisión al respecto.
          example: F
    VirtualCardResponse:
      type: object
      properties:
        message:
          maxLength: 200
          type: string
          example: NOVEDAD CARGADA CON EXITO
      description: Estructura de campos que responde la API Virtual Card
    AccountReclamo:
      type: object
      properties:
        accountNumber:
          maxLength: 32
          minLength: 32
          type: string
          description: 'Número de cuenta del tarjetahabiente. Encriptado. La cuenta que se encripta debe cumplir con Long 9 dígitos que se completan con ceros a la izquierda. EJ: 001234567 / 00#######'
          example: W23X24Y25Z26A1B2C3D4E5F6G7H8I9J1
        additional:
          maxLength: 1
          minLength: 1
          type: integer
          description: 'Identifica Titulares y Adicionales de la misma cuenta. Valores posibles: 1 a 9. Titular: 0 Adicional: 1 a 9'
          format: int32
          example: 0
      description: Datos de la cuenta.
    RangeTransactionsRequest:
      type: object
      properties:
        from:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha desde. En formato ISO 8601.
          example: 01-01-2024
        to:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: 'Fecha hasta. La fecha no deberá ser superior a 91 días naturales a partir de la fecha ingresada en el campo "from." En formato ISO 8601. '
          example: 01-01-2024
      description: Criterio de búsqueda de los cupones a reclamar. Menor a 91 días entre “from” y “to".
    TransactionAmountRangeRequest:
      type: object
      properties:
        from:
          maxLength: 18
          type: integer
          description: Exclusivo VisionPLUS. Rango de monto de la transacción. Este campo indica el monto "Desde". 18 posiciones enteras. Valor máximo 100000000000000000.
          format: int32
          nullable: true
          example: 100000
        to:
          maxLength: 18
          type: integer
          description: Exclusivo VisionPLUS. Rango de monto de la transacción. Este campo indica el monto "hasta". 18 posiciones enteras. Valor máximo 100000000000000000.
          format: int32
          nullable: true
          example: 100000
      description: Exclusivo VisionPLUS. Criterio de búsqueda de los cupones a reclamar.
    TransactionsRequest:
      required:
        - isFirstCall
        - sequence
        - transaction
      type: object
      properties:
        cardNumber:
          maxLength: 64
          minLength: 64
          type: string
          description: Este campo de entrada permite ingresar el número de tarjeta (PAN) encriptado
          example: C3D4E5F6G7H8I9J10K11L12M13N14O15P16Q17R18S19T20U21V22W23X24Y25Z26
        account:
          $ref: '#/components/schemas/AccountReclamo'
        transaction:
          $ref: '#/components/schemas/TransactionsTransactionRequest'
        isFirstCall:
          type: boolean
          description: 'Fase. En el primer llamado se informa "true". Llamados posteriores, sólo si hay más información, se debe ingresar el valor del último cupón de la página enviada anteriormente. Campos de Orden / Paginado. Valores: true: Primer llamado; false: Llamados posteriores.'
        sequence:
          maxLength: 3
          minLength: 1
          pattern: ^[0-9]{1,3}
          type: string
          description: Secuencia. Si hay más información debe ingresar el último cupón de la página enviada anteriormente. Valores numéricos válidos desde 0 hasta 999. No puede estar vacío.
          example: '0'
        organizationNumber:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. El campo OrganizationNumber es un atributo que contiene el número de identificación único asignado a una organización dentro de la API. Valores numéricos válidos desde 0 hasta 999.
          format: int32
          nullable: true
          example: 999
        keyword:
          maxLength: 20
          type: string
          description: Exclusivo VisionPLUS. El campo de palabra clave se utiliza para buscar la descripción de la transacción.
          nullable: true
          example: user's_keyword
        startToken:
          maxLength: 26
          type: string
          description: Exclusivo VisionPLUS. El campo startToken es el token generado para que la API comprenda el siguiente conjunto de transacciones que se recuperarán.
          nullable: true
          example: 177100079202316ES000000013
        isMerchantInformationRequired:
          type: boolean
          description: "Exclusivo VisionPLUS. El campo isMerchantInformationRequired indica si la información del comerciante es obligatoria o no.\nValores:\n•\tfalse = No se requiere información del comerciante;\n•\ttrue = Se requiere información del comerciante.\n"
        isForeign:
          type: boolean
          description: "Exclusivo VisionPLUS. El campo isForeign se proporciona en el mensaje de entrada para que la fuente solicitante pueda especificar si la solicitud se aplica a la cuenta local o extranjera cuando la cuenta está en una organización de procesamiento de doble moneda. El valor predeterminado es la cuenta local.\nValores:\n•\tfalso = Cuenta local;\n•\tverdadero = Cuenta extranjera.\n"
        queryMoreTransactions:
          maxLength: 1
          type: string
          description: "Exclusivo VisionPLUS. El campo queryMoreTransactions se utiliza cuando se completa el campo \"startToken\" para obtener más transacciones.\nValores:\n•\tN = Próximas transacciones;\n•\tP = Transacciones anteriores.\n"
          nullable: true
          example: 'N'
    TransactionsTransactionRequest:
      required:
        - complaintType
        - isLocationType
      type: object
      properties:
        complaintType:
          maxLength: 1
          minLength: 1
          pattern: 1|2|3|4|5|6|8|9
          type: string
          description: "Informa el Motivo de Reclamo. Valores\n•\t1 = Desconocimiento del cupón liquidado;\n•\t2 = Diferencias en cupón liquidado;\n•\t3 = Cupón de sistema AC (amplia cobertura);\n•\t4 = Cupón de operatoria internacional;\n•\t5 = Cupón de operatoria extravío en tránsito;\n•\t6 = Cupón crédito;\n•\t8 = Cupón;\n•\t9 = Incidente.\n"
          example: '1'
        isLocationType:
          type: boolean
          description: 'Criterio de búsqueda de los cupones a reclamar. Tipo de operación. “true”: Local. “false”: Internacional.'
        statementDate:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha de Cierre de Cuenta Corriente. Criterio de búsqueda de los cupones a reclamar. En formato ISO 8601.
          example: 01-01-2024
        details:
          maxLength: 1
          type: string
          description: "Exclusivo VisionPLUS. El campo de detalles representa el indicador de detalles de la transacción.\nValores:\n•\tEspacio = Usar tanto actual como reciente (Mostrar la transacción pendiente/publicada);\n•\tB = Usar tanto actual como reciente (Mostrar la transacción pendiente/publicada)\n•\tC = Actual (Transacciones del ciclo hasta la fecha);\n•\tR = Recientes (Transacciones detalladas del estado de cuenta);\n•\tS = Sólo el primer estado de cuenta reciente\n•\tM = Mensual (Transacciones detalladas del estado de cuenta);\n•\tP = Transacciones contabilizadas.\n"
          nullable: true
          example: B
        type:
          maxLength: 1
          type: integer
          description: "Exclusivo VisionPLUS. El campo tipo representa el tipo de transacción.\nValores:\n•\t0 = Todos;\n•\t1 = Intereses y comisiones;\n•\t2 = Pago;\n•\t3 = Disputa;\n•\t4 = Almacén;\n•\t5 = Sólo intereses;\n•\t6 = Solo tarifa;\n•\t7 = Sólo tarjeta.\n"
          format: int32
          nullable: true
          example: 0
        transactionsNumber:
          maxLength: 2
          type: integer
          description: Exclusivo VisionPLUS. El número de transacciones representa el número de transacciones. El número máximo es 50.
          format: int32
          nullable: true
          example: 50
        monthsNumber:
          maxLength: 2
          type: string
          description: Exclusivo VisionPLUS. Representa el número de meses de las transacciónes.
          nullable: true
          example: '12'
        transactionDateRange:
          $ref: '#/components/schemas/RangeTransactionsRequest'
        transactionAmountRange:
          $ref: '#/components/schemas/TransactionAmountRangeRequest'
      description: Datos de busqueda.
    BlockTransactions:
      type: object
      properties:
        code:
          maxLength: 2
          type: integer
          description: Código de bloqueo de la tarjeta. Hasta 99. Este campo puede ser null.
          format: int32
          nullable: true
          example: 19
        codeDescription:
          maxLength: 40
          type: string
          description: Descripción del código de bloqueo de la tarjeta. Este campo puede ser null.
          nullable: true
          example: BLOQ-FRAUDE
        date:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha en que se realizó el bloqueo de la tarjeta.
          example: 31-05-2024
        status:
          maxLength: 80
          type: string
          description: Informa de manera descriptiva estado de bloqueo de la tarjeta. Este campo puede ser null.
          nullable: true
          example: TARJETA BLOQUEADA
      description: Datos del bloqueo de tarjeta.
    TransactionsCard:
      type: object
      properties:
        cardNumber:
          maxLength: 16
          type: integer
          description: Número PAN completo de la tarjeta, enmascarado. Este campo puede ser null.
          format: int64
          nullable: true
          example: 5399000000009003
        block:
          $ref: '#/components/schemas/BlockTransactions'
      description: Datos de la tarjeta.
    TransactionsResponse:
      type: object
      properties:
        organizationNumber:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. El campo OrganizationNumber es un atributo que contiene el número de identificación único asignado a una organización dentro de la API. Hasta 999.
          format: int32
          nullable: true
          example: 998
        logo:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. El campo del logo almacena el código del logo del emisor asociado con una tarjeta de pago. Representa el identificador o código único asignado al logotipo del emisor de la tarjeta, lo que permite una identificación y asociación precisas con el banco emisor. Hasta 999.
          format: int32
          nullable: true
          example: 501
        currencyCode:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. Código de moneda estándar ISO que identifica la unidad monetaria de esta organización. Hasta 999.
          format: int32
          nullable: true
          example: 123
        currencyDescription:
          maxLength: 28
          type: string
          description: Exclusivo VisionPLUS. Descripción de la moneda.
          nullable: true
          example: currency description
        isForeign:
          type: boolean
          description: "Exclusivo VisionPLUS. El indicador USO EXTRANJERO se proporciona en el mensaje de entrada para que la fuente solicitante pueda especificar si la solicitud se aplica a la cuenta local o extranjera cuando la cuenta está en una organización de procesamiento de doble moneda.\nValores:\n•\tfalse = cuenta local; (por defecto)\n•\ttrue = cuenta extranjera.\n"
        card:
          $ref: '#/components/schemas/TransactionsCard'
        transaction:
          $ref: '#/components/schemas/TransactionsTransactionResponse'
    TransactionsTransactionDetails:
      type: object
      properties:
        sequence:
          maxLength: 3
          minLength: 1
          type: integer
          description: Secuencia. Incremental; número de secuencia asignado en la consulta a cada transacción.
          format: int32
          nullable: true
          example: 1
        type:
          maxLength: 1
          type: string
          description: "Exclusivo VisionPLUS. Indica si una transacción es de débito, crédito o nota.\nValores:\n•\tD = débito;\n•\tC = crédito;\n•\tM = nota.\n"
          nullable: true
          example: D
        organizationNumber:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. Número de organización. Hasta 999.
          format: int32
          nullable: true
          example: 998
        logo:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. Número de logo. Hasta 999.
          format: int32
          nullable: true
          example: 998
        accountNumber:
          maxLength: 19
          type: string
          description: Exclusivo VisionPLUS. Número de cuenta o número de tarjeta.
          nullable: true
          example: '0123456789123456789'
        categoryCode:
          maxLength: 5
          type: integer
          description: Exclusivo VisionPLUS. Código de categoría estándar ISO (ISO 18245) del comerciante donde se otorgaron puntos de comprador frecuente. Hasta 99999.
          format: int32
          nullable: true
          example: 5192
        categoryDescription:
          maxLength: 28
          type: string
          description: Exclusivo VisionPLUS. Descripción de categoría.
          nullable: true
          example: Category Description
        logicModuleNumber:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. Módulo lógico asociado al código de transacción. Hasta 999.
          format: int32
          nullable: true
          example: 605
        transactionType:
          maxLength: 7
          type: string
          description: Exclusivo VisionPLUS. Tipo de transacción.
          nullable: true
          example: TYPE
        statementDate:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha de cierre de cuenta corriente. En formato ISO 8601.
          example: 31-05-2024
        locationType:
          maxLength: 1
          minLength: 1
          type: string
          description: "Tipo de transacción. Valores\n•\tS: Local,\n•\tN: Internacional.\n"
          example: S
        insuranceProduct:
          maxLength: 2
          type: string
          description: Exclusivo VisionPLUS. Producto de seguro.
          nullable: true
          example: AB
        virtualIndicator:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS. Indicador Virtual.
          nullable: true
          example: s
        qualifierIndicator:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS. Indicador de calificación.
          nullable: true
          example: A
        hasFeeAdjustment:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de ajuste de tarifas.\nValores:\n•\tfalso = Sin ajuste;\n•\tverdadero = Ajuste.\n"
        hasInterestAdjustment:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de ajuste de intereses.\nValores:\n•\tfalso = Sin ajuste;\n•\tverdadero = Ajuste.\n"
        hasDispute:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de disputa.\nValores:\n•\tfalso = Sin disputa;\n•\tverdadero = Disputa.\n"
        isChargebackEligible:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de devolución de carga.\nValores:\n•\tfalse = La transacción no es elegible para devolución de cargo;\n•\ttrue = La transacción es elegible para devolución de cargo.\n"
        isCopyRequest:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de solicitud de copia.\nValores:\n•\tfalse = Sin solicitud de copia;\n•\tverdadero = Copiar solicitud.\n"
        isReversal:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de reversión.\nValores:\n•\tfalso = Sin reversión;\n•\tverdadero = inversión\n"
        isMisapplied:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador mal aplicado.\nValores:\n•\tfalse = No mal aplicado;\n•\tverdadero = Mal aplicado.\n"
        isIssuerClearingHouse:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de la Cámara de Compensación del Emisor.\nValores:\n•\tfalse = Sin Cámara de Compensación Emisora (ICH);\n•\tverdadero = Cámara de Compensación del Emisor (ICH).\n"
        isDisputeAuxiliaryFile:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de archivo auxiliar de disputa.\nValores:\n•\tfalse = Archivo auxiliar sin disputa;\n•\ttrue = Disputar archivo auxiliar.\n"
        recurringTransaction:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de parada/reanudación.\nValores:\n•\tfalse = Detener una transacción recurrente;\n•\ttrue = Reanudar una transacción recurrente.\n"
        visaId:
          maxLength: 15
          type: integer
          description: Exclusivo VisionPLUS. Identificación de transacción de Visa. Hasta 999999999999999.
          format: int64
          nullable: true
          example: 123456789123456
        effectiveDate:
          maxLength: 10
          minLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Fecha de la transacción. Fecha de cuando se realizó la compra / Consumo. En formato ISO 8601
          example: 20-06-2024
        postDate:
          maxLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Exclusivo VisionPLUS. Fecha de publicación (en ISO 8601).
          nullable: true
          example: 22-04-2023
        batchDate:
          maxLength: 10
          pattern: dd-MM-YYYY
          type: string
          description: Exclusivo VisionPLUS. Fecha de lote (en ISO 8601).
          nullable: true
          example: 15-08-2023
        totalEffectiveValue:
          maxLength: 16
          type: integer
          description: 'Exclusivo VisionPLUS. Este campo es para capturar el valor efectivo total (VET) de la transacción internacional solo para Brasil. El campo se completará si se cumplen las siguientes condiciones. 13 posiciones enteras, 2 posiciones decimales y separador decimal. Formato: EEEEEEEEEEEEE.DD'
          format: int32
          nullable: true
          example: 2345678973
        demandDepositAccountIndicator:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS. Indicador DDA (cuentas de depósito a la vista). Este campo se muestra solo para transacciones con tarjeta de débito. La funcionalidad de la tarjeta de débito debe estar activa.
          nullable: true
          example: D
        record:
          $ref: '#/components/schemas/TransactionsTransactionDetailsRecord'
        loyalty:
          $ref: '#/components/schemas/TransactionsTransactionDetailsLoyalty'
        terminal:
          $ref: '#/components/schemas/TransactionsTransactionDetailsTerminal'
        authorization:
          $ref: '#/components/schemas/TransactionsTransactionDetailsAuthorization'
        fraud:
          $ref: '#/components/schemas/TransactionsTransactionDetailsFraud'
        original:
          $ref: '#/components/schemas/TransactionsTransactionDetailsOriginal'
        conversionRate:
          $ref: '#/components/schemas/TransactionsTransactionDetailsConversionRate'
        usd:
          $ref: '#/components/schemas/TransactionsTransactionDetailsUsd'
        interchange:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInterchange'
        principal:
          $ref: '#/components/schemas/TransactionsTransactionDetailsPrincipal'
        purchase:
          $ref: '#/components/schemas/TransactionsTransactionDetailsPurchase'
        card:
          $ref: '#/components/schemas/TransactionsTransactionDetailsCard'
        installment:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInstallment'
        merchant:
          $ref: '#/components/schemas/TransactionsTransactionDetailsMerchant'
      description: Detalle de las transacciones.
    TransactionsTransactionDetailsAuthorization:
      type: object
      properties:
        authorizationTime:
          maxLength: 8
          pattern: HH:MM:SS
          type: string
          description: Exclusivo VisionPLUS. Hora de autorización de la transacción.
          nullable: true
          example: '14:27:45'
        authorizationCode:
          maxLength: 8
          minLength: 1
          type: string
          description: Código de autorización de la transacción.
          example: A01526
      description: Datos de la autorización.
    TransactionsTransactionDetailsCard:
      type: object
      properties:
        number:
          maxLength: 19
          type: string
          description: Exclusivo VisionPLUS. Identificador único o token asociado al número de tarjeta o instrumento de pago FirstVision PAN Token.
          nullable: true
          example: 00123456ID5IXX12345
        sequence:
          maxLength: 5
          type: integer
          description: Exclusivo VisionPLUS. Secuencia de tarjeta. Hasta 99999.
          format: int32
          nullable: true
          example: 1
        blockCode:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS. Código de bloqueo de tarjeta.
          nullable: true
          example: A
        acceptorId:
          maxLength: 16
          type: string
          description: Exclusivo VisionPLUS. Identificación del receptor de tarjetas.
          nullable: true
          example: LJS38RNS24900003
        embossedName:
          maxLength: 40
          type: string
          description: Exclusivo VisionPLUS. Nombre en relieve en tarjeta.
          nullable: true
          example: Embossed name
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsConversionRate:
      type: object
      properties:
        value:
          maxLength: 18
          type: integer
          description: Exclusivo VisionPLUS. Tasa de conversión de transacciones. Hasta 100000000000000000.
          format: int32
          nullable: true
          example: 125
        formattedValue:
          maxLength: 18
          pattern: decimal
          type: string
          description: Exclusivo VisionPLUS. Tasa de conversión de transacciones.
          nullable: true
          example: '125.0'
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsFraud:
      type: object
      properties:
        transferredStatus:
          maxLength: 1
          type: string
          description: "Exclusivo VisionPLUS. Bandera que indica el estado de la transacción fraudulenta transferida.\nValores:\n•\tP = Transferencia pendiente;\n•\tT = Transferido;\n•\tX = Transferido en;\n•\tEspacio = no aplicable.\n"
          nullable: true
          example: P
        transferIndicator:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de transferencia de fraude.\nValores:\n•\tfalse = Transferencia sin fraude;\n•\tverdadero = transferencia fraudulenta\n"
        fraudIndicator:
          type: boolean
          description: "Exclusivo VisionPLUS. Indicador de fraude.\nValores:\n•\tfalso = Sin fraude;\n•\tverdadero = fraude.\n"
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsInstallment:
      type: object
      properties:
        total:
          maxLength: 2
          minLength: 1
          type: integer
          description: Número total de cuotas que el titular de la tarjeta acordó pagar por la transacción. Hasta 99.
          format: int32
          example: 12
        originalTransactionAmount:
          maxLength: 14
          type: number
          description: Exclusivo VisionPLUS. Monto original de la transacción a plazos. 13 posiciones enteras, 2 posiciones decimales y separador decimal.
          format: double
          nullable: true
          example: 29329.33
        firstEarlyRelease:
          maxLength: 2
          type: integer
          description: Exclusivo VisionPLUS. Número de cuota de una cuota facturada en particular o la primera secuencia de cuotas en un rango de cuotas marcadas para una liberación anticipada desde el archivo de facturación de cuotas. Hasta 99.
          format: int32
          nullable: true
          example: 12
        lastEarlyRelease:
          maxLength: 2
          type: integer
          description: Exclusivo VisionPLUS. Última secuencia de pago que está marcada para una liberación anticipada desde el archivo de facturación a plazos. El valor predeterminado es 00, lo que indica que el plazo contabilizado se libera. Hasta 99.
          format: int32
          nullable: true
          example: 19
        terms:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInstallmentTerms'
        plan:
          $ref: '#/components/schemas/TransactionsTransactionDetailsInstallmentPlan'
      description: Datos del Plan de Cuotas.
    TransactionsTransactionDetailsInstallmentPlan:
      type: object
      properties:
        type:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS.
          nullable: true
          example: A
        number:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS.
          format: int32
          nullable: true
          example: 12345
        sequenceNumber:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS.
          format: int32
          nullable: true
          example: 12
        openDate:
          maxLength: 10
          type: string
          description: Exclusivo VisionPLUS.
          nullable: true
          example: '2022-10-29'
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsInstallmentTerms:
      type: object
      properties:
        total:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS.
          format: int32
          nullable: true
          example: 37
        originalTotal:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS.
          format: int32
          nullable: true
          example: 24
        current:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS.
          format: int32
          nullable: true
          example: 75
        remaining:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS.
          format: int32
          nullable: true
          example: 11
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsInterchange:
      type: object
      properties:
        reference:
          maxLength: 23
          type: string
          description: Exclusivo VisionPLUS. Número de referencia del intercambio.
          nullable: true
          example: '68456546'
        fee:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS. Tarifa de intercambio. Hasta 999999999.
          format: int32
          nullable: true
          example: 4
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsLoyalty:
      type: object
      properties:
        points:
          maxLength: 9
          type: integer
          description: Exclusivo VisionPLUS. Puntos. Hasta 999999999
          format: int32
          nullable: true
          example: 123456789
        programNumber:
          maxLength: 1
          type: string
          description: Exclusivo VisionPLUS. Número de programa.
          nullable: true
          example: A
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsMerchant:
      type: object
      properties:
        city:
          maxLength: 21
          type: string
          description: Exclusivo VisionPLUS. Ciudad del comercio.
          nullable: true
          example: Brookfield
        state:
          maxLength: 3
          type: string
          description: Exclusivo VisionPLUS. Estado/Región del comercio.
          nullable: true
          example: WI
        postalCode:
          maxLength: 10
          type: string
          description: Exclusivo VisionPLUS. Código postal del comercio.
          nullable: true
          example: 53008-0979
        countryCode:
          maxLength: 3
          type: string
          description: Exclusivo VisionPLUS. Código de país del comercio.
          nullable: true
          example: USA
        phoneNumber:
          maxLength: 21
          type: string
          description: Exclusivo VisionPLUS. Teléfono del comercio.
          nullable: true
          example: 800-848-1337
        name:
          maxLength: 30
          minLength: 1
          type: string
          description: Nombre de comercio.
          example: COMERCIALIZADORA B
        storeNumber:
          maxLength: 9
          minLength: 1
          type: string
          description: Número del comercio. Hasta 999999999.
          example: '125801'
      description: Datos del comercio.
    TransactionsTransactionDetailsOriginal:
      type: object
      properties:
        amount:
          maxLength: 18
          type: integer
          description: Exclusivo VisionPLUS. Monto original de la transacción. Hasta 100000000000000000.
          format: int32
          nullable: true
          example: 78
        formattedAmount:
          maxLength: 16
          minLength: 1
          type: number
          description: Importe de la transacción. 13 posiciones enteras, 2 posiciones decimales y separador decimal.
          format: double
          example: 9999999999999.99
        currency:
          maxLength: 3
          minLength: 2
          type: integer
          description: "Código de moneda. Valores: </br>•\t32: ARS Pesos argentinos </br>•\t858: URU Pesos Uruguayos </br>•\t840: USD Dólar\n"
          format: int32
          example: 840
        currencyDescription:
          maxLength: 28
          type: string
          description: Exclusivo VisionPLUS. Descripción de la moneda de la transacción original.
          nullable: true
          example: MXN
      description: Original
    TransactionsTransactionDetailsPrincipal:
      type: object
      properties:
        unbilled:
          maxLength: 18
          type: integer
          description: Exclusivo VisionPLUS. Principal no facturado. Hasta 100000000000000000.
          format: int64
          nullable: true
          example: 3464593827
        remaining:
          maxLength: 18
          type: number
          description: Exclusivo VisionPLUS. Principal restante. Hasta 100000000000000000.
          format: double
          nullable: true
          example: 38937302.98
      description: Exclusivo VisionPLUS.
    TransactionsTransactionDetailsPurchase:
      type: object
      properties:
        order:
          maxLength: 16
          type: string
          description: Exclusivo VisionPLUS. Orden de compra.
          nullable: true
          example: 0A1B2C3D4E5F6G
        ticketNumber:
          maxLength: 15
          type: string
          description: Exclusivo VisionPLUS. Numero de ticket.
          nullable: true
          example: 0A1B2C3D4E5F6G
        referenceNumber:
          maxLength: 23
          type: string
          description: Exclusivo VisionPLUS. Número de referencia.
          nullable: true
          example: 0A1B2C3D4E5F6G
        amount:
          maxLength: 18
          type: integer
          description: Exclusivo VisionPLUS. Monto. Hasta 100000000000000000.
          format: int32
          nullable: true
          example: 125
        quantity:
          maxLength: 3
          type: integer
          description: Exclusivo VisionPLUS. Cantidad. Hasta 999.
          format: int32
          nullable: true
          example: 1
        unitPrice:
          maxLength: 18
[...]
